@import url('./fonts.css');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #383838;
}

.container {
    max-width: 1440px;
    padding: 120px 104px 120px;
    margin: 0 auto;
}

.title {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 104px;
}

.row {
    display: flex;
    gap: 16px;
}

.col {
    width: 25%;
}

.subtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 0.8;
}

.advantages__title {
    margin-bottom: 20px;
}

.advantages__highlight {
    background-color: #f5bd41;
    width: 100px;
    height: 4px;
    margin:0 auto 80px;
}

.advantages__col {
    text-align: center;

}

.advantages__image {
    margin: 0 auto;
}

.advantages__subtitle {
    margin-top: 48px;
}

.footer_container {
    background-color: #10367C;
}

.footer_row {
    color: #FFFFFF;
}

.footer_col {
    list-style: none;
    width: 33.33333%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
    padding: 0;
}

.footer_col_title {
    font-weight: 500;

}

.footer_link {
    margin: 24px 0;
}

.footer_copyright {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: #FFFFFF;
    margin-top: 40px;

}